


<head>
    <link rel="stylesheet" href="~/css/VortexWeb.styles.css" asp-append-version="true" />
    <script src="~/js/lecturaContenido.js"></script>

</head>

<footer class="text-center text-lg-start bg-primary text-white mt-5">
    <section class="container-md d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
        <div class="me-5 d-none d-lg-block">
            <span class="lectura">Encuéntranos en nuestras redes sociales:</span>
        </div>
        <div>
            <a href="https://wa.me/+51976232086" class="me-4 text-reset" title="WhatsApp">
                <i class="fab fa-whatsapp fa-2x"></i>
            </a>
            <a href="https://www.instagram.com/nutrisupplements.ft" class="me-4 text-reset" title="Instagram">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            <a href="https://www.tiktok.com/@@nutrisuplements.ft26561?_t=8qvzPkvBiGz&_r=1" class="me-4 text-reset" title="TikTok">
                <i class="fab fa-tiktok fa-2x"></i>
            </a>
        </div>
    </section>

    <section class="container text-center text-md-start mt-5">
        <div class="row mt-3">
            <!-- About Us -->
            <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fa-solid fa-store me-3"></i> Nutri Supplements FT
                </h6>
                <p>
                    Tu tienda de suplementos en Cajamarca, Perú. Ofrecemos productos de alta calidad a precios accesibles para tu bienestar y salud. ¡Compra online y recibe en la puerta de tu casa!
                </p>
            </div>

            <!-- Business Hours -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fa-solid fa-clock me-3"></i> Horarios de Atención
                </h6>
                <p>Lunes a Viernes: 9:00 am - 6:00 pm</p>
                <p>Sábado: 9:00 am - 1:00 pm</p>
                <p>Domingo: Cerrado</p>
            </div>

            <!-- Contact Info -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
                <p><i class="fas fa-map-marker-alt me-3"></i> Cajamarca, Perú</p>
                <p><i class="fas fa-envelope me-3"></i> <a href="mailto:zattoxsan@gmail.com.pe" class="text-reset">nutrisuplements@gmail.com.pe</a></p>
                <p><i class="fas fa-phone-alt me-3"></i> +51 976 232 086</p>
                <p><i class="fas fa-print me-3"></i> +51 1 234-5679</p>
            </div>
        </div>
    </section>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.2); font-size: 0.9rem;">
        © 2024 Derechos Reservados:
        <a class="text-reset fw-bold" href="">Nutri Supplements FT - Perú</a>
    </div>
</footer>
